APP_NAME=ابزارهای مکانی آراز
APP_ENV=development
APP_DEBUG=false

MAPIR_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImQ5NzNmYzlkZjliYzFkODU1MzA2ZTUxNjJjOTM2MzkzYzIwNmQwMDA3MzI1NzJmYzJjYTI3ZTZmMWUxOWU1MzBhNzA1ODNhOGVmOTZhMTFlIn0.eyJhdWQiOiI0Mjk1MiIsImp0aSI6ImQ5NzNmYzlkZjliYzFkODU1MzA2ZTUxNjJjOTM2MzkzYzIwNmQwMDA3MzI1NzJmYzJjYTI3ZTZmMWUxOWU1MzBhNzA1ODNhOGVmOTZhMTFlIiwiaWF0IjoxNzg0NjY0Mjc1LCJuYmYiOjE3ODQ2NjQyNzUsImV4cCI6MTc4NzI1NjI3NSwic3ViIjoiIiwic2NvcGVzIjpbImJhc2ljIl19.FYwAZckkELuv_1AELS6UJ8G1xCmiCsdqK_ZRsziO1iNCN2fwLFt3T5BP_R28uCC10Qp6yrK0mRVW78cLz6urUSlfJVJZglJDgBXJ-oxvUuFFCNAV_EGFDQ7sI5u5dj4BCRcFfR-Afu-CZdyOOk7yU-v98nfMBYrxsuujaXcl_8QGRKxwkYlc88gcl1js2Y8UDwTH0MCZ2P8XkvCuRSXrg86pH08uppXuxI8QcUEFChZd5S98WQ_iAlnRMsYdjASQ9Sqx3mxSJ0PKN-FTVYT3fycQhPyosLcnQzqok85WW-qvFhpS3ysBcWMAicz3GluTMxbo6chBxlJyOKgBe6BSZw
MAPIR_BASE_URL=https://map.ir

REQUEST_TIMEOUT=20
CORS_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://geo.araz.me
