APP_NAME=ابزارهای مکانی آراز
APP_ENV=development
APP_DEBUG=false

MAPIR_API_KEY=
MAPIR_BASE_URL=https://map.ir

REQUEST_TIMEOUT=20
CORS_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://geo.araz.me
